/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font: 18px 'PT Serif', serif;
}

body {
  background-color: rgb(37, 37, 37);
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.responsive {
  height: auto;
  max-width: 100%;
}

.button-style {
  background-color: #504741;
  border: 1px solid #000;
  color: #fff;
  cursor: pointer;
  font-size: 1vw;
  margin: 20px;
  min-width: 200px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
}

.g-recaptcha {
  display: block;
  float: left;
}

/* Header */
header {
  width: 100%;
}

#masthead {
  background-color: #fff;
  padding: 5px;
}

#header-title {
  background-color: #000;
  color: #fff;
  font-size: 2.4vw;
  line-height: 5px;
  padding: 5px;
  text-align: center;
}

#header-title a {
  color: #fff;
  text-decoration: none;
}

/* Nav Bar */
#navbar {
  background-color: #3d3834;
  overflow: hidden;
}

#navbar a {
  border-right: 1px solid rgb(27, 27, 27);
  color: #fff;
  display: block;
  float: left;
  font-size: 1.3vw;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #282828;
}

.current {
  background-color: #282828;
}

#navbar .search-container {
  float: right;
}

#navbar input[type=text] {
  border: none;
  font-size: 1.5vw;
  margin-top: 10px;
  padding: 6px;
}

#navbar .search-container button {
  background: #ddd;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 1.5vw;
  margin-right: 16px;
  margin-top: 10px;
  padding: 6px 10px;
}

#navbar .search-container button:hover {
  background: #ccc;
}

/* Top Content */

#content-wrapper {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px;
}

#content-top {
  background-image: url(../img/wooden-bg.jpg);
  background-position: top;
  padding: 10px;
}

#content-top-text {
  color: #fff;
}

#content-top-text h1 {
  font-size: 2.5vw;
  text-align: center;
}

#content-top-text p {
  font: 1.2vw 'Roboto Mono', monospace;
  margin: 20px auto;
  max-width: 70vw;
  padding: 10px;
  text-align: left;
}

.center {
  text-align: center !important;
}

/* Main Page Content */
#main {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px;
}

#main-container {
  background-color: rgb(253, 247, 226);
  background-position: center;
  border: 1px solid #000;
}

.background {
  background-image: url(../img/parchment-small.jpg);
  background-position: center;
}

/* Messages to User */
#message {
  background-color: #000;
  border: 1px solid #000;
  color: rgb(44, 221, 44);
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.errors {
  color: rgb(255, 0, 0);
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.errors ul {
  text-align: left;
}

.user-input {
  margin: 3px;
  padding: 5px;
}

/* Footer */
footer {
  background-color: #3b3632;
  color: #fff;
  font-size: 1.5vw;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
