@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font: 16px 'Roboto Mono', monospace;
}

body {
  background-color: rgb(37, 37, 37);
  margin: 0 auto;
}

#wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.responsive {
  height: auto;
  max-width: 100%;
}

.button-style {
  background-color: #504741;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin: 20px;
  text-align: center;
  min-width: 200px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-size: 1vw;
}

.g-recaptcha {
  display: block;
  float: left;
}

/* Header CSS*/
header {
  min-width: 100vw;
}

#masthead {
  padding: 5px;
  background-color: white;
}

#header-img {
  background-color: rgb(10, 9, 10);
}

#header-title {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 2.4vw;
  line-height: 5px;
  margin-top: 20px;
}

#header-img img {
  margin-top: 20px;
}

#header-title a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'PT Serif', serif;
}

header img {
  display: block;
  margin: auto;
  padding: 5px;
}

/* Nav Bar */

#navbar {
  background-color: #3b3632;
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.3vw;
}

#navbar a:hover {
  background-color: #282828;
}

.current {
  background-color: #282828;
}

#navbar .search-container {
  float: right;
}

#navbar input[type=text] {
  padding: 6px;
  margin-top: 10px;
  font-size: 1.5vw;
  border: none;
}

#navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 1.5vw;
  border: none;
  cursor: pointer;
}

#navbar .search-container button:hover {
  background: #ccc;
}

/* Top Content */

#content-wrapper {
  margin-top: 10px;
  padding: 5px;
  background-color: white;
}

#content-top {
  background-image: url(../img/wooden-bg.jpg);
  background-position: top;
  padding: 10px;
}

#content-top-text {
  color: white;
}

#content-top-text h1 {
  text-align: center;
}

#content-top-text p {
  margin: 10px auto;
  text-align: left;
  max-width: 70vw;
  padding: 10px;
}

.center {
  text-align: center !important;
}

/* Messages to User */

#message {
  background-color: #000;
  color: rgb(44, 221, 44);
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.errors {
  margin: 0 auto;
  color: red;
  text-align: center;
  max-width: 500px;
}

.errors ul {
  text-align: left;
}

.user-input {
  padding: 5px;
  margin: 3px;
}

/* Main Page Content */
#main {
  margin-top: 10px;
  background-color: white;
  padding: 5px;
}

#main-container {
  border: 1px solid black;
  background-color: rgb(255, 245, 213);
  background-position: center;
}

.background {
  background-image: url(../img/parchment-small.jpg);
  background-position: center;
}

/* Footer */
footer {
  background-color: #3b3632;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  min-width: 100vw;
  font-size: 1.5vw;
}
