
/* Index Page */
#index-section {
  margin-top: 10px;
}
.index-item-container {
  background-color: white;
  font-size: 1vw;
}

.index-item-container-mobile {
  display: none;
}

.index-item {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  height: 97%;
}

.index-item p {
  margin: 10px;
}

#index-item-1, #index-item-2 {
  margin-right: 5px;
}

#index-item-2, #index-item-3 {
  margin-left: 5px;
}

.item-img, .learn {
  text-align: center;
}

.item-img {
  margin: 0 auto;
}

.learn {
  margin: 20px auto;
  font-size: 2em;
}

.learn a:hover {
  background-color: #282828;
}

#page-img-wrapper {
  padding: 5px;
  background-color: white;
  margin-top: 10px;
  max-width: 1200px;
}

/* About Page */
#casual div h2, #raiding div h2, #roleplay div h2 {
  text-decoration: underline;
}

#casual div, #raiding div, #roleplay div {
  margin: 1rem;
}

#casual img, #raiding img, #roleplay img {
  margin: 2rem;
}

#casual div>h2, #raiding div>h2, #roleplay div>h2 {
  text-align: left;
}

/* Staff Page */
.staff-heading {
  margin: 2rem;
  text-align: center;
}

.staff-character>div {
  margin: 2rem;
}

.staff-character>div h3 {
  text-decoration: underline;
}

.staff-character>img {
  margin: 2rem;
}

/* Modal Gallery */
#gallery-grid {
  border: 1px solid black;
  padding: 15px;
  text-align: center;
}

#gallery-grid-container {
  margin: 5px auto;
}

#thumbnails {
  margin: 0 auto;
  background-color: blue;
}

#gallery-grid img {
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

/* Roster Page */
#roster-table {
  margin: 10px auto;
  border: 1px solid black;
}

#roster-table th, #roster-table td {
  border: 1px solid black;
  padding: 5px;
}

/* Account Page */
#user-info {
  margin: 10px;
  border-right: 1px solid black;
}

#user-chars {
  margin: 10px;
}

#account-table, #account-table th, #account-table td {
  border: 1px solid black;
}

#account-table th, #account-table td {
  padding: 5px;
}

/* Login Page */
#login {
  display: inline;
  text-align: center;
}

#login-container {
  border: 1px solid black;
  background-color: white;
  max-width: 400px;
  margin: 5px auto;
}

#login p {
  text-align: center;
}

#signup-link {
  color: black;
}

/* Sign Up Page */
#signup {
  display: inline;
}

#signup-container {
  border: 1px solid black;
  background-color: white;
  max-width: 400px;
  margin: 5px auto;
}

#signup-container, #signup p {
  text-align: center;
}

.form {
  padding: 1em;
}

.form input {
  font-size: 1rem;
}

.form div {
  text-align: left;
  margin: 0 auto;
  width: 200px;
}

/* Search Page */
#search-results h2 {
  text-align: center;
}

#search-table {
  margin: 10px auto;
  border: 1px solid black;
}

#search-table th, #search-table td {
  border: 1px solid black;
  padding: 5px;
}