@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font: 16px 'Roboto Mono', monospace;
}

body {
  /*background-image: url(../img/ff14-background.jpg);
  background-position: center; */
  background-color: rgb(37, 37, 37);
  margin: 0 auto;
}

#wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

/* Header CSS*/

#masthead {
  padding: 5px;
  background-color: white;
}

#header-img {
  background-color: rgb(10, 9, 10);
}

#header-title {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 30px;
  line-height: 5px;
}

#header-title a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'PT Serif', serif;
}

header img {
  display: block;
  margin: auto;
  padding: 10px
}

/* Nav Bar */

#navbar {
  background-color: #3b3632;
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #282828;
}

.current {
  background-color: #282828;
}

#navbar .search-container {
  float: right;
}

#navbar input[type=text] {
  padding: 6px;
  margin-top: 10px;
  font-size: 16px;
  border: none;
}

#navbar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#navbar .search-container button:hover {
  background: #ccc;
}

/* Messages to User */

#message {
  background-color: #000;
  color: rgb(44, 221, 44);
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.errors {
  margin: 0 auto;
  color: red;
  text-align: center;
  max-width: 500px;
}

.errors ul {
  text-align: left;
}

.user-input {
  padding: 5px;
  margin: 3px;
}

/* Top Content */

#content-wrapper {
  margin-top: 10px;
  padding: 5px;
  background-color: white;
}

#content-top {
  background-image: url(../img/wooden-bg.jpg);
  background-position: top;
}

#content-top-text {
  color: white;
  padding: 20px;
}

#content-top-text h1 {
  text-align: center;
}

#content-top-text p {
  max-width: 900px;
  margin: 10px auto;
  text-align: left;
}

.center {
  text-align: center !important;
}

/* Index Page */
#index-section {
  margin-top: 10px;
}
.index-item-container {
  background-color: white;
}

.index-item {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.index-item p {
  margin: 30px;
}

#index-item-1 {
  margin-right: 5px;
}

#index-item-2 {
  margin-left: 5px;
  margin-right: 5px;
}

#index-item-3 {
  margin-left: 5px;
}

.item-img {
  margin: 0 auto;
  text-align: center;
}

.learn {
  margin: 20px auto;
  text-align: center;
}

.learn a:hover {
  background-color: #282828;
}

/* Login Page */
#login {
  display: inline;
  text-align: center;
}

#login-container {
  border: 1px solid black;
  background-color: white;
  max-width: 400px;
  margin: 5px auto;
}

#login p {
  text-align: center;
}

#signup-link {
  color: black;
}

.button-style {
  background-color: #504741;
  border: 1px solid black;
  padding: 10px 80px 10px 80px;
  margin: 1em;
  text-align: center;
}

.button-link-style {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.g-recaptcha {
  display: block;
  float: left;
}
/* Sign Up Page */
#signup {
  display: inline;
}

#signup-container {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  max-width: 400px;
  margin: 5px auto;
}

#signup p {
  text-align: center;
}

.form {
  padding: 1em;
}

.form input {
  width: 200px;
  font-size: 1rem;
}

.form div {
  text-align: left;
  margin: 0 auto;
  width: 200px;
}

/* Page Img */
#page-img-wrapper {
  padding: 5px;
  background-color: white;
  margin-top: 10px;
}

/* Main Page Content */
#main {
  margin-top: 10px;
  background-color: white;
  padding: 5px;
}

#main-container {
  border: 1px solid black;
  background-color: rgb(255, 245, 213);
  background-position: center;
}

.background {
  background-image: url(../img/parchment-small.jpg);
  background-position: center;
}

/* About Page */
.section div {
  margin: 1rem;
}

#casual div>h2 {
  text-align: left;
}

#raiding div>h2 {
  text-align: left;
}

#roleplay div>h2 {
  text-align: left;
}

/* Roster */
#roster-table {
  margin: 10px auto;
  border: 1px solid black;
}

#roster-table th {
  border: 1px solid black;
  padding: 5px;
}

#roster-table td {
  border: 1px solid black;
  padding: 5px;
}

/* Account Page */
#user-info {
  margin: 10px;
  border-right: 1px solid black;
}

#user-chars {
  margin: 10px;
}

#account-table {
  border: 1px solid black;
}

#account-table th {
  border: 1px solid black;
  padding: 5px;
}

#account-table td {
  border: 1px solid black;
  padding: 5px;
}
/* Staff Page */

#main h2 {
  text-align: center;
}

#leader {
  text-align: right;
}

.staff-heading {
  margin: 3rem;
}

.section img {
  margin: 1rem;
}

.right-align {
  text-align: right;
}

/* Footer */
footer {
  background-color: #3b3632;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
  height: 100%;
}

/* Modal Gallery */
#gallery-grid {
  border: 1px solid black;
  max-width: 1100x;
  padding: 15px;
  text-align: center;
}

#gallery-grid-container {
  margin: 5px auto;
}

#thumbnails {
  margin: 0 auto;
  background-color: blue;
}

#gallery-grid img {
  border: 1px solid black;
  background-color: white;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.responsive {
  height: auto;
  max-width: 100%;
}






