@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html {
  font: 16px 'Roboto Mono', monospace;
}

body {
  background-color: gray;
  margin: 0 auto;
}

#wrapper {
  margin: 0 auto;
  width: 1120px;
  height: 100%;
}

/*header css*/

#masthead {
  padding: 10px;
  background-color: white;
}

#header-img {
  background-image: url(../img/ff14-fc-desk.png);
  background-position: center;
}

#header-title {
  position: relative;
  display: block;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 30px;
  line-height: 5px;
}

#header-title a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: 'PT Serif', serif;
}

header img {
  display: block;
  margin: auto;
  padding: 10px
}

header nav ul {
  margin: 0;
  position: relative;
  background-color: #504741;
  list-style: none;
  text-align: center;
}

header nav li {
  display: inline;
  font-size: 16px;
  margin: 10px;
}

header nav a:hover {
  background-color: #282828;
}


header nav li a {
  display: inline-block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.current {
  background-color: #282828;
}

/* End header css */

/* content top */
#message {
  background-color: #000;
  color: yellow;
  border: 1px solid #000;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

#content-top {
  background-image: url(../img/wooden-bg.jpg);
  background-position:top
}

#content-wrapper {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}

#content-top-text {
  color: white;
  text-align: center;
  padding: 20px;
}

#content-top-text p {
  max-width: 900px;
  margin: 10px auto;
  
}

#signup-link {
  color: white;
}

.button-style {
  background-color: #504741;
  border: 1px solid black;
  padding: 10px;
  margin: 1em;
}

.button-link-style {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

#signup-container {
  margin: 1em;
}

/* Page Img */
#page-img-wrapper {
  padding: 10px;
  background-color: white;
  margin-top: 20px;
}

/* Main Page Content */
#main {
  display: block;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}

.section div {
  margin: 1rem;
}

#casual div {
  text-align: right;
}

#raiding div {
  text-align: left;
}

#roleplay div {
  text-align: right;
}

/* Staff Page */
#leader {
  text-align: right;
}

/* Footer */
footer {
  background-color: #504741;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
}











